.header
  background: none repeat scroll 0 0 #1E90FF
  color: #666666
  margin: 0 auto
  width: 100%
  display: inline-block
  float: left

  .header_body
    margin: auto
    line-height: 60px
    height: 60px
    text-align: center
    color: white
    font-size: 30px

.wrapper
  margin: 0 auto
  width: 100%
  background: none repeat scroll 0 0 #0A59A6
  display: inline-block
  float: left
  padding-bottom: 20px

  .main_links
    width: 100%
    height: 43px

    .links_container
      ul
        margin: 0 auto
        padding: 0
        list-style: none outside none

        li
          display: inline-block
          float: left

      a
        background: none repeat scroll 0 0 #0A59A6
        color: #1E90FF
        border-top: 2px solid black
        border-bottom: 2px solid black
        border-left: 1px solid black
        border-right: 1px solid black
        display: inline-block
        line-height: 30px
        text-align: center
        text-decoration: none
        padding: 5px 15px
        width: 107px

      a:hover
        background: none repeat scroll 0 0 #1E90FF
        color: #0A59A6

      a.current_section
        background: none repeat scroll 0 0 #1E90FF
        color: #0A59A6

      a.current_section:hover
        color: #ffffff

  .main_content
    margin-top: 20px

    .sub_menu
      background: none repeat scroll 0 0 #0A59A6
      float: left
      margin-left: -100%
      position: relative
      width: 230px
      padding-left: 20px

      a.side_link
        background: none repeat scroll 0 0 #0A59A6
        color: #1E90FF
        width: 230px
        display: inline-block
        text-decoration: none
        line-height: 30px

      a.side_link:hover
        background: none repeat scroll 0 0 #1E90FF
        color: #0A59A6

    .text_content
      width: 100%
      float: left

      .article
        padding: 0 0 0 250px

.footer
  background: none repeat scroll 0 0 #1E90FF
  color: white
  height: 20px
  width: 100%
  display: inline-block

  .content
    text-align: center
    width: 100%
    margin: 0 auto