html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  border: 0

body
  margin: 0 auto
  position: relative
  color: white
  font: 13px/1.5 helvetica,arial,freesans,clean,sans-serif
  min-width: 1200px

.login_wrapper
  background: none repeat scroll 0 0 #0A59A6
  height: auto !important
  margin: 0 auto
  min-height: 100%
  overflow: hidden
  position: relative
  width: 100%

  #central_frame
    width: 260px
    margin: 300px auto

    #user_login, #user_password
      width: 250px
      display: inline-block
      float: left
      margin-bottom: 5px

    #user_submit
      display: inline-block
      margin-left: 100px

.header
  background: none repeat scroll 0 0 #1E90FF
  color: #666666
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 1000
  line-height: 60px
  height: 60px

  .header_body
    text-align: center
    color: white
    font-size: 30px

.wrapper
  background: none repeat scroll 0 0 #0A59A6
  height: auto !important
  margin: 0 auto
  min-height: 100%
  overflow: hidden
  position: relative
  width: 100%

  .main_links
    display: inline-block
    float: left
    width: 100%
    height: 43px
    padding-top: 60px

    .links_container
      ul
        margin: 0 auto
        padding: 0
        list-style: none outside none

        li
          display: inline-block
          float: left
          width: 11.1%

          span
            display: inline-block
            height: 10px
            margin: 0 10px 1px 5px
            width: 10px
            background: none repeat scroll 0 0 #83C2FF

          a
            background: none repeat scroll 0 0 #0A59A6
            color: #1E90FF
            border-top: 2px solid black
            border-bottom: 2px solid black
            border-left: 1px solid black
            border-right: 1px solid black
            display: inline-block
            line-height: 30px
            text-decoration: none
            width: 100%
            font-size: 17px
            font-family: georgia,palatino

          a:hover
            background: none repeat scroll 0 0 #1E90FF
            color: #0A59A6

          a.current_section
            background: none repeat scroll 0 0 #1E90FF
            color: #0A59A6

          a.current_section:hover
            color: #ffffff

  .main_content
    display: inline-block
    width: 100%
    padding-bottom: 40px
    margin-top: 20px

    .sub_menu
      background: none repeat scroll 0 0 #0A59A6
      float: left
      width: 21%
      padding-left: 15px

      ul
        list-style: none outside none
        padding: 0
        margin: 0 auto

        li
          display: inline-block
          float: left
          width: 100%

          span
            background: none repeat scroll 0 0 #83C2FF
            display: inline-block
            height: 9px
            margin: 0 10px 0 5px
            width: 9px

          a
            width: 100%
            text-decoration: none
            line-height: 30px
            font-size: 16px
            display: block
            font-family: georgia,palatino

          a.side_link
            background: none repeat scroll 0 0 #0A59A6
            color: #1E90FF

          a.side_link:hover
            background: none repeat scroll 0 0 #1E90FF
            color: #0A59A6

          a.current_side_link
            background: none repeat scroll 0 0 #1E90FF
            color: #0A59A6

          a.current_side_link:hover
            background: none repeat scroll 0 0 #1E90FF
            color: #0A59A6

    .text_content
      width: 75%
      float: left
      display: inline-block
      padding-left: 20px

    .text_content_intro
      padding: 0 200px

.footer
  background: none repeat scroll 0 0 #1E90FF
  color: white
  border-top: 2px solid black
  height: 20px
  margin-top: -20px
  position: relative
  width: 100%
  z-index: 1000

  .content
    text-align: center
    width: 100%
    margin: 0 auto