.main_content
  .text_content_intro
    .article
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
      Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors Authors
