.main_content
  .sub_menu
    %ul
      %li
        = sub_menu_link("Тренажерный зал", '/bodys/gym', "")
      %li
        = sub_menu_link("Диета", '/bodys/diet', "")
      %li
        = sub_menu_link("Программа тренировок", '/bodys/training_program', "")
      %li
        = sub_menu_link("Стероиды", '/bodys/steroids', "current_side_link")
  .text_content
    .article
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids
      Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids Steroids